.bft-edit-form-close> path{
}
.sriniz_male> div{
    background-color: #03e58b !important
}
.sriniz_male> .bft-edit-form-fields, .bft-form-fieldset{
    background-color: #fff !important
}
.sriniz_female> div{
    background-color: #FF46A3 !important
}
.sriniz_female> .bft-edit-form-fields, .bft-form-fieldset{
    background-color: #fff !important
}
